.content {
    margin-top: 8rem;
}

.wrap {
    word-wrap: break-word;
}

#toast-container {
    top: 10%;
}

input.ng-dirty.ng-invalid {
    background-color: pink;
!important
}

input.ng-dirty.ng-valid {
    background-color: darkseagreen;
!important
}
