<!DOCTYPE html>
<html>
<head>
<meta charset="UTF-8">
<link href="http://bootswatch.com/darkly/bootstrap.min.css" rel="stylesheet">
<link href="/resources/styles/site.css" rel="stylesheet">
<script src="https://code.jquery.com/jquery-2.1.4.min.js"></script>
<script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.5/js/bootstrap.min.js"></script>
<script src="https://cdnjs.cloudflare.com/ajax/libs/react/0.13.3/react.min.js"></script>
<script src="https://cdnjs.cloudflare.com/ajax/libs/react-bootstrap/0.25.2/react-bootstrap.min.js"></script>
<script src="https://cdnjs.cloudflare.com/ajax/libs/react/0.13.3/JSXTransformer.js"></script>
</head>
<div id="content"></div>
<script type="text/babel" src="/resources/scripts/app/components/list-questions.js"></script>
<body>
</body>
</html>