<h3>Questions List</h3>
<div class="row">
    <div *ngFor="let question of questionsList">
     <question [question]="question"></question>
    </div>
</div>
<div class="row" style="margin-top: 10px;">
    <pagination 
    [boundaryLinks]="true"
    [itemsPerPage]="itemsPerPage"
    [totalItems]="totalItems" 
    (pageChanged)="handlePageChange($event)"
    [(ngModel)]="currentPage" class="pagination-sm" previousText="&lsaquo;"
        nextText="&rsaquo;" firstText="&laquo;" lastText="&raquo;"></pagination>
</div>