<div class="row">
    <div class="col-md-3">
        <p class="text-center">Sort by:</p>
        <select ng-model="vm.request.sort" ng-change="vm.query(vm.request)" class="form-control">
            <option value="title">Title</option>
            <option value="content">Content</option>
        </select>
    </div>
    <div class="col-md-3">
        <p class="text-center">Sort direction:</p>
        <select ng-model="vm.request.sortDirection" ng-change="vm.query(vm.request)" class="form-control">
            <option value="asc">Ascending</option>
            <option value="desc">Descending</option>
        </select>
    </div>
    <div class="col-md-3">
        <p class="text-center">Page:</p>
        <input type="number" ng-model="vm.request.page" ng-change="vm.query(vm.request)" class="form-control"/>
    </div>
    <div class="col-md-3">
        <p class="text-center">Page size:</p>
        <input type="number" ng-model="vm.request.size" ng-change="vm.query(vm.request)" class="form-control"/>
    </div>
</div>
<hr/>
<div class="row">
    <div ng-repeat="question in vm.list._embedded.questions">
        <div class="alert alert-dismissible alert-info">
            <button type="button" class="close" data-dismiss="alert" ng-click=vm.delete(question)>×</button>
            <strong class="wrap"><a href="{{vm.getDetailLink(question)}}">{{question.title}}</a></strong>
        </div>
    </div>
</div>
