<div ng-controller="LoginController as vm" class="navbar-right">
	<form ng-hide="vm.identity.isAuthenticated()" class="navbar-form">
		<div class="form-group">
			<input type="text" placeholder="Username" ng-model="vm.user.username" class="form-control" /><input type="password"
				placeholder="Password" ng-model="vm.user.password" class="form-control" />
		</div>
		<button ng-click="vm.login(vm.user)" class="btn btn-primary">Login</button>
		<a href="#/signup" class="btn btn-primary">Sign Up</a>
	</form>
	<ul ng-show="vm.identity.isAuthenticated()" class="nav navbar-nav navbar-right">
		<li class="dropdown">
		<a href="" data-toggle="dropdown" class="dropdown-toggle">{{vm.identity.loggedInUser()}}<span class="caret"></span></a>
			<ul class="dropdown-menu">
				<li><a href="#" ng-click="vm.logout()">Sign Out</a></li>
			</ul>
		</li>
	</ul>
</div>